{{> header theme="default"}}
<div class="recent-page">
  <h1>最新帖子</h1>
  {{> post-list posts=posts}}
  {{#if (gt totalPages 1)}}
  <div class="pagination">
    {{#if (gt page 1)}}
    <a href="/recent?page={{math page "-" 1}}" class="btn btn-ghost">上一页</a>
    {{/if}}
    <span class="page-info">第 {{page}} / {{totalPages}} 页</span>
    {{#if (lt page totalPages)}}
    <a href="/recent?page={{math page "+" 1}}" class="btn btn-ghost">下一页</a>
    {{/if}}
  </div>
  {{/if}}
</div>
{{> footer}}
